<div class="admin-page-section">
    <h1>Update Food</h1>

<div class="plus_category">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form role="form" class="text-start" action="/admin/foodUpdate/{{data.id}}" method="POST" enctype="multipart/form-data">
                    <div class="input-group input-group-outline mb-3">
                        <input type="text" class="form-control" placeholder="food name" name="name" value="{{data.name}}"/>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <input type="text" class="form-control" placeholder="food price" name="price" value="{{data.price}}"/>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <input type="file" class="form-control f_b" placeholder="food img" name="img" value="{{data.img}}"/>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                        <textarea type="text" class="form-control" placeholder="food textarea" cols="10" rows="10" style="resize: none; overflow: auto;" name="textarea">{{data.textarea}}</textarea>
                    </div>
                    {{#if categories.length}}
                    <select name="categoryId" id="categoryId" value="{{data.categoryId}}">

                    {{#each categories}}
                        <option class="option p-2" value="{{id}}">{{name}}</option>
                    {{/each}}
                    </select>
                    {{else}}
                    <h2>categoriy kemadi cota</h2>
                    {{/if}}
                    <div class="text-center">
                        <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Add Food</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div>